* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.logo-page {
  height: 100px;
}

.main-header {
  position: fixed;
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
  font-size: 25px;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.imagem-fundo img {
  position: static;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: cover;
  z-index: -1;
  display: flex;
}

.container-projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  max-width: 100%;
  margin-top: 50px;
  cursor: pointer;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #8a2be2;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
}

@media screen and (max-width: 900px) {
    .main-header {
        flex-direction: initial;
        height: 120px;
        text-align: center;
    }

    header a {
        font-size: 15px;
        margin: 10px 0;
    }

    .imagem-fundo img {
        display: block;        
    }

    article {
        font-size: 25px;
    }

    .container-projetos {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin-top: 20px;    
    } 
}